<template>
    <v-container>
      <v-layout>
        <v-flex>
          <About />
        </v-flex>
      </v-layout>
    </v-container>
</template>

<script>
import About from './views/About.vue';

export default {
  components: {
    About
  },

  data: () => ({
    //
  }),
};
</script>
